#projects{
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: var(--bg_color_2);
}
#projects .p_left{
    text-align: center;
    font-size: var(--section_header_size);
}
.p_left span{
    color: var(--font_sim_color);
    font-size: 1.3rem;
    position: relative;
    top: 10px;
    font-weight: 500;
}
#projects .p_right{
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#projects .p_right .container{
    padding: 5px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
#projects .p_right img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    position: relative;
}
.p_right .overlay{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    border-radius: 10px;
    cursor: pointer;
    top: 150px;
    left: 0;
    transition: .3s ease-in;
}
.overlay a{
    margin: 5px;
}
.overlay button{
    padding: 3px 5px;
    font-size: 1rem;
    border-radius: 30px;
    background-color: var(--bg_color);
    border: 1px solid var(--font_color);
    cursor: pointer;
    transition: .2s;
}
.overlay button:hover{
    background-color: var(--font_color);
    color: var(--bg_color);
    border-color: var(--bg_color);
}
.container:hover .overlay,
.container:focus .overlay{
    opacity: 1;
    top: 0;
}
@media (max-width: 675px){
    #projects .p_right{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    #projects .section_head{
        margin: 0;
        position: relative;
        top: 2vh;
    }
    .p_left span{
        margin-top: 20px;
    }
    #projects .p_right img{
        height: 160px;
    }
}
