*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* Style for the header and navbar */
header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 10vh;
}

.logo {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  transition: color 0.15s ease-in-out;
}

.nav-links a:hover {
  color: #f39c12;
}

/* Style for first section */
.home {
  background: radial-gradient(black, rgb(34, 34, 34), black);
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.home p {
  font-size: 1.5rem;
  opacity: 0.8;
}


/* style for second section */
#projects {
  background-color: #f4f4f4;
  padding: 50px 0;
  text-align: center;
}

#projects h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.project {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 30px;
  text-align: left;
}

.project h3 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 10px;
}

.project img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.project p {
  font-size: calc(1rem + .3vw);
  color: #555;
}


/* style for about */
.about-section {
  background-color: #f8f8f8;
  padding: 80px 0;
}

.about-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #333;
}

.about-content {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #666;
}

.highlight {
  font-weight: bold;
  color: #5e451e;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .about-content {
    font-size: 1rem;
  }
}


/* style for contact */
#contact {
  background-color: #f4f4f4;
  padding: 50px 0;
  text-align: center;
}

#contact h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

#contact p {
  font-size: 1.25rem;
  color: #555;
}

/* style for footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

footer p {
  font-size: 1rem;
  opacity: 0.7;
}