.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: var(--bg_color_2);
    min-height: 100vh;
}
#a_header{
    margin: 30px;
    text-align: center;
    font-size: var(--section_header_size);
}
#a_header span{
    color: var(--font_sim_color);
    font-size: 1.3rem;
    position: relative;
    top: 10px;
    font-weight: 500;
}
.a_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.a_grid .a_col{
    margin: 20px;
    font-size: 1.2rem;
}
.a_grid .a_col:first-child{
    border-radius: 20px;
    text-align: center;
}
.a_grid .a_col img{
    width: 200px;
    border-radius: 20px;
    box-shadow: 0 0 4px var(--font_color);
    background-color: var(--bg_color_2);
}
@media (max-width: 675px){
    .a_grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .a_grid .a_col img{
        width: 200px;
        height: 260px
    }
    #a_header{
        position: relative;
        top: 2vh;
        margin: 0;
    }
}
