.exp{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg_color);
}
.exp #e_head{
    margin: 20px 0;
    font-size: var(--section_header_size);
}
.e_grid{
    display:grid;
    padding: 30px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}
.e_grid .e_cell{
    border-radius: 10px;
    padding: 10px;
    margin: 10px 5px;
    font-size: 14px;
    text-align: center;
    height: 200px;
    border: 1px solid var(--font_color);
}
.e_cell .content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: justify;
}
.e_cell .content p{
    font-size: 18px;
    padding: 10px 5px;
}
@media (max-width: 675px){
    .e_grid{
        display:grid;
        padding: 30px;
        grid-template-columns: 1fr;
    }
    .e_grid .e_cell{
        padding: 5px;
        margin: 10px;
        font-size: 10px;
        height: min-content;
    }
    
.e_cell .content p{
    font-size: 15px;
    padding: 5px;
}
}
